<div style="overflow: hidden;">
    <div class="row" >
    
        <div  style="display: flex;margin-top: 1%;">
            <div class="col-md-6">
               <a href="#"> <img src="../../assets/images/logo.png" style="width: 150px;margin-left: 2%;" ></a>
            </div>
            <div class="col-md-6" style="display: flex;justify-content: end;">
                <button style="background-color: #063F83;border: none;border-radius: 50px;color: white;width: 100px;padding: 1%;height: 40px;" (click) = login()>Login</button>&nbsp;&nbsp;
                <button style="border: none;width: 100px;padding: 1%;border-radius: 50px;background-color: #FFB200;color: #063F83;height: 40px;">Signup</button>
            </div>
           </div>
        
        </div>
</div>