<div style="overflow: hidden;">


    <div class="row" id="mainrow">

        <div class="col-md-2">
            <img src="../../assets/images/logo.png" style="width: 150px;" class="logo">
        </div>
        
        <div class="col-md-2" >
            <p class="mainhead">Page</p>
            <p class="subhead">About us</p>
            <p class="subhead">Donation</p>
            <p class="subhead">Event</p>
            <p class="subhead">Blog</p>
        </div>
        <div class="col-md-3" >
            <p class="mainhead">Contact Us</p>


            <div class="row">
                <div class="col-md-2" >
                    <img src="../../assets/images/footer-call.png" class="call">
                </div>
                <div class="col-md-10">
                    <p class="subhead">Bangladesh : 01919455125</p>
                    <p class="subhead">UK : 07712220802</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <img src="../../assets/images/footer-message.png" class="email">
                </div>
                <div class="col-md-10">
                    <p class="subhead">info.goodniyah@gmail.com</p>
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-2">
                    <img src="../../assets/images/footer-location.png" class="locationimage">
                </div>
                <div class="col-md-10" class="locationdetails">
                    <p><span  class="location">Bangladesh</span><span class="subhead"> - 90 Glasgow, perth<br> PH2 0LT, UK</span></p><br>
                    <p><span class="location">UK </span> <span class="subhead">- Zini Zoom, 12/6 Bank Town <br>Savar, Dhaka-1340</span></p>
                </div>
            </div>




        </div>
        <div class="col-md-2">
            <p class="mainhead">Links</p>
            <p class="subhead">Term of use</p>
            <p class="subhead">Privacy policy</p>
        </div>
        <div class="col-md-3">
            <p class="mainhead">Subscribe Us</p>
            <p class="subhead">Lorem ipsum dolor sit amet <br> consectetur. Porttitor diam mauris.</p>
           
           
            <div class="inputstyle">
                <input type="email" placeholder="Enter email address" style="border-radius: 50px 0px 0px 50px;border: none;padding: 2%;">
                <button style="background-color: #F87F06;color: white;border-radius: 0px 50px 50px 0px;padding: 2%;border: none;">Donate</button>
            </div>
           

        </div>
    </div>



    <div class="row" class="socialdiv" >
        <div class="col-md-6" class="socialcol">
            <img src="../../assets/images/instagram.png" style="width: 40px;">
            <img src="../../assets/images/facebook.png" style="width: 40px;">
            <img src="../../assets/images/youtube.png" style="width: 40px;">
            <img src="../../assets/images/twitter.png" style="width: 40px;">
        </div>
        <div class="col-md-6">
            <p class="copyright">copyright 2023 @algoitsolutions all right reserved</p>
        </div>
    </div>


</div>