

<div style="overflow: hidden;margin-left: 3%;margin-right: 3%;">


    <app-header></app-header>



  



    <div class="row">
        <p style="color: #011986;font-size: 30px;">For a young boys education</p>
    
        <div class="col-md-6">
            <img src="../../assets/images/storydetail.png" style="width: 600px;height: 600px;">
            <p>Lynne O Loughlin is organizing this fundraiser.</p>
    
            <div class="row" style="width: 600px;  margin-left: 1%;  background-color: #011986;border-radius: 50px;padding: 1%;">
                
                <div class="col-md-4" style="display: flex;justify-content: center;padding: 1%;">
                    <button  (click)="details()" style=" width: 150px; background-color: #FFB200;border-radius: 50px;border: none;padding: 2%;">Details</button>
                </div>

                <div class="col-md-4" style="display: flex;justify-content: center;padding: 1%;">
                    <button  (click)="documents()" [ngClass]="{'green' : toggle2, 'red': !toggle2}">Documents</button>
                </div>

                <div class="col-md-4" style="display: flex;justify-content: center;padding: 1%;">
                    <button  (click)="photos()" [ngClass]="{'green' : toggle, 'red': !toggle}">Photos</button>
                </div>


            </div>
    

            <div *ngIf="detailsclicked">
                <p style="margin-top: 4%;">In a world filled with countless stories of adversity, the tale of a young orphaned boy stands as a testament to resilience and hope. We invite you to join our charity fundraising campaign to make a profound difference in the life of this remarkable young soul.</p>
    
                <p>Meet [Boy's Name], a young boy who, through no fault of his own, found himself orphaned and facing a future filled with uncertainty. His life has been a series of challenges and obstacles that most of us can only imagine. But in the face of adversity, he continues to display a remarkable spirit that inspires all who meet him.</p>
        
                <p>Our mission is clear: to provide [Boy's Name] with the love, support, and opportunities every child deserves. With your help, we can ensure that his dreams are not shattered by circumstances beyond his control.</p>
        
                <p>By contributing to our charity fundraising campaign, you are:</p>
        
                <ol>
                    <li>Offering [Boy's Name] a chance at a brighter future: Your generosity can help him access quality education, proper nutrition, and essential healthcare, laying the foundation for a life filled with potential and opportunities.</li>
                    <li>Providing a stable and nurturing environment: With your support, we can establish a loving and caring home for [Boy's Name], ensuring he grows up in a safe and secure environment where he can thrive.</li>
                    <li>Fostering a sense of belonging: As a community, we can offer [Boy's Name] a support network that makes him feel loved, valued, and a part of a larger family.</li>
                    <li>Inspiring hope: Your contribution demonstrates that compassion and kindness can change lives, providing inspiration to others facing their own challenges.</li>
                </ol>
        
                <p>Every dollar you donate, every effort you make to support our campaign, brings us one step closer to providing [Boy's Name] with a brighter tomorrow. Together, we can make a profound impact on this young boy's life and help him realize his full potential.</p>
        
                <p>Join us in making a difference, and let's prove that together, we can change the trajectory of a young orphan's life. Donate now and help us empower [Boy's Name] to embrace a future filled with hope, happiness, and endless possibilities. Together, we can be the change he so desperately needs.</p>
        
                <p>Your kindness can light the path to a brighter future. Donate today. </p>
            </div>

            <div *ngIf="documentsclicked">
                <div class="card" style="border-radius: 10px;background-color: #EDF5FC;margin-top: 4%;" >
                    <img src="../../assets/images/certificate-photos.png">
                </div>
            </div>

            <div *ngIf="photosclicked">
                <div class="card" style="border-radius: 10px;background-color: #EDF5FC;margin-top: 4%;" >
                   
                   
                    <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                       <div class="col-md-6" style="display: flex; justify-content: center;">
                        <img src="../../assets/images/storyphoto.png" style="width: 200px;">
                       </div>
                       <div class="col-md-6"  style="display: flex; justify-content: center;">
                        <img src="../../assets/images/storyphoto.png" style="width: 200px;">
                       </div>
                    </div>



                    <div class="row" style="margin-bottom: 2%;">
                        <div class="col-md-6" style="display: flex; justify-content: center;">
                         <img src="../../assets/images/storyphoto.png" style="width: 200px;">
                        </div>
                        <div class="col-md-6"  style="display: flex; justify-content: center;">
                         <img src="../../assets/images/storyphoto.png" style="width: 200px;">
                        </div>
                     </div>



                </div>
            </div>



            <div style="display: flex;justify-content: end;margin-top: 10%;">
                <button style="background-color: #FFB200;border-radius: 50px;border: none;padding: 1%;width: 200px;margin-bottom: 4%;">Make a donation  <img src="../../assets/images/arrow_right.png" style="width: 30px;float: right;"></button>    
            </div>



        </div>
        <div class="col-md-6">
    
            <div class="card" style=" position: fixed; background-color: #EDF5FC;padding: 3%;border-radius: 10px;">
                <p style="color: #011986;font-size: 25px;">€9,970 raised of €10,000 goal</p>
    
                <p>360 donations</p>

                <button style="  margin: 0 auto; width: 50%; background-color: #011986;border: none;border-radius: 50px;color: white;padding: 2%;">Share</button>

                <button style=" margin: 0 auto; width: 50%; margin-top: 5%; background-color: #011986;border: none;border-radius: 50px;color: white;padding: 2%;">Donate</button>

                <div class="row" style="display: flex;justify-content: center;margin-top: 7%;">
                    <img src="../../assets/images/instagram.png" style="width: 55px;height: 30px;">
                    <img src="../../assets/images/facebook.png" style="width: 55px;height: 30px;">
                    <img src="../../assets/images/youtube.png" style="width: 55px;height: 30px;">
                    <img src="../../assets/images/twitter.png" style="width: 55px;height: 30px;">
                    <img src="../../assets/images/whatsapp.png" style="width: 55px;height: 30px;">
                </div>


            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>