
.continuebtn{
    float: right; 
    background-color: #FFB200;
    border-radius: 50px;
    width: 15%;
    border: none;
    padding: 10px;
}


.row-md-9{
    display: flex;
    justify-content: center;
    box-shadow: 18px 22px 47px -38px rgba(29, 113, 184, 0.38);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
}

@media only screen and (max-width: 600px) {

    .row-md-9{
        display: table-column;
    }

    .continuebtn{
        width: auto;
    }
}

