<div style="overflow: hidden;">

    <div class="row">
      <img src="../../assets/images/logo.png" style="width: 200px;margin-left: 5%;margin-right: 5%;margin-top: 1%;">
  </div>
  
  <div class="row align-items-center" >
      <div class="col-md-6">
          <img src="../../assets/images/login-and-signup.png" style="width: 800px;height: 500px;">
      </div>
      <div class="col-md-6 card-inverse" style="background-image: url(../../assets/images/vector2.png);background-repeat: no-repeat;">
          <div class="card" style="box-shadow: 18px 22px 47px -38px rgba(29, 113, 184, 0.38),
          -1px -1px 47px -15px rgba(29, 113, 184, 0.27);border-radius: 20px;border: none; background-image: url(../../assets/images/vector1.png);background-repeat: no-repeat;background-position: -5px 350px;z-index: 999999;background-size: 100px 100px;               width: 30rem;margin: 0 auto;margin-top: 5%;margin-bottom: 5%; height: 500px;">
              <div class="card-body">
                <h5 class="card-title">Login to GoodNiyah</h5>

                <p style="text-align: center;margin-top: 7%;">An OTP has send to your number</p>


                <div class="row">
                    <div class="col-md-2" >
                        <input type="text" style="width: 40px;">
                    </div>
                    <div class="col-md-2" >
                        <input type="text" style="width: 40px;">
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width: 40px;">
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width: 40px;">
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width: 40px;">
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="width: 40px;">
                    </div>
                </div>
               

               
                
                <p style="margin-top: 5%;">This code will expire in 10 minutes, Need a new code?</p>
                <p ><a style="text-decoration: underline;cursor: pointer;">Resend code</a> or <a style="text-decoration: underline;cursor: pointer;">change number</a></p>
                <br>
                <button style="float: right; background: #ffb200;
                border-radius: 40px;border: none;width: 50%;padding: 10px;
                position: relative;box-shadow: 2px 4px 7px -1px rgba(1, 25, 134, 1);">Submit</button>
  
                <div style="margin-top: 20%;text-align: center;">
                  <p>Dont have an account?, <a>Sign Up <span style="text-decoration: underline;cursor: pointer;">here</span></a></p>
                </div>
  
  
              </div>
            </div>
      </div>
  </div>
  
  
  
  </div>
  <app-footer></app-footer>