<div style="overflow: hidden;">

    <div class="row" style="overflow: hidden; background-image: url(../../assets/images/smilebg.png);background-repeat: no-repeat;    background-size: cover;width: 100%;height: 100vh;">
        
        <app-header></app-header>

    
    
    
        <div class="col-md-8" style="position: relative;">
           <p style="font-size: 50px;color: white; position: absolute;
           bottom: 0; 
           left: 30px;
           font-family: PoppinsSemiBold;"> Let's put a smile <br> on someones face. </p>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <p style="margin-left: 5%;margin-top: 5%;font-family: PoppinsSemiBold;font-size: 25px;">Where are you located?</p>
        <p  style="margin-left: 5%;font-family: PoppinsRegular;">We use your location to determine your currency.</p>


        <div class="card" >


        <div class="row" style="margin-top: 5%;">
            <div class="col-md-6" style="display: flex;justify-content: center;">
                <ng-select class="ngcountry"   placeholder="Country"></ng-select>
            </div>
            <div class="col-md-6" style="display: flex;justify-content: center;">
                <ng-select class="ngzip" placeholder="Zip Code"></ng-select>
            </div>
            <p  class="pincodetext">Please enter a valid pincode*</p>
            
        </div>



        <p style="text-align: center;margin-top: 5%;font-family: PoppinsRegular;">What best describes why you're fundraising?</p>

        <div style="display: flex;" class="row ">
            <div class="col-md-2">        
                <button class="categorybtn" [ngStyle]="{ 'background-color': isClicked ? '#011986' : 'white' }" (click)="toggleButton()">Animals</button>
            </div>
            <div class="col-md-2">        
                <button class="categorybtn" [ngStyle]="{ 'background-color': isClicked ? '#011986' : 'white' }" (click)="toggleButton()">Business</button>
            </div>
            <div class="col-md-2">        
                <button class="categorybtn" [ngStyle]="{ 'background-color': isClicked ? '#011986' : 'white' }" (click)="toggleButton()">Community</button>
            </div>
            <div class="col-md-2">        
                <button class="categorybtn" [ngStyle]="{ 'background-color': isClicked ? '#011986' : 'white' }" (click)="toggleButton()">Creative</button>
            </div>
            <div class="col-md-2">        
                <button class="categorybtn" [ngStyle]="{ 'background-color': isClicked ? '#011986' : 'white' }" (click)="toggleButton()">Education</button>
            </div>
            <div class="col-md-2">        
                <button class="categorybtn" [ngStyle]="{ 'background-color': isClicked ? '#011986' : 'white' }" (click)="toggleButton()">Emergencies</button>
            </div>  
        </div> 


        <div>
            <p class="categorytext">Please select a category*</p>
        </div>



        <div class="row" style="display: flex; justify-content: space-between;margin-top: 5%;">
            <img src="../../assets/images/left-arrow.png" style="width: 70px;margin-left: 3%;">
            <button style="border: none;border-radius: 50px;width: 150px;padding: 0.5%;margin-right:4%;box-shadow: 2px 4px 7px -1px rgba(1, 25, 134, 1);background-color: white;border: none; font-family: 'PoppinsRegular';">Continue</button>
        </div>


        </div>

    </div>


    </div>
<app-footer></app-footer>