<div style="overflow: hidden;">

    <div class="row" style="overflow: hidden; background-image: url(../../assets/images/smilebg.png);background-repeat: no-repeat; background-size: cover;width: 100%;height: 100vh;"> 
        
        <app-header></app-header>
          
        <div class="col-md-8" style="position: relative;">
           <p style="font-size: 50px;color: white; position: absolute;
           bottom: 0;font-family: PoppinsSemiBold;margin-left: 5%;"> Let's put a smile <br> on someones face. </p>
        </div>
        <div class="col-md-4"></div>   
    </div>


    <div class="row" >
        <p style="font-family: PoppinsSemiBold;font-weight: bold;font-size: 20px;margin-left: 5%;margin-top: 3%;margin-bottom: 2%;">Create an account to save and continue</p>
    </div>
    
    <div class="card" style="  margin-left: 5%;margin-right: 5%;padding: 5%;margin-bottom: 5%;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;">
        
        <div class="row" style="display: flex; justify-content: end;">
            
            
            <div  class="pt-2"  style="background-color: #011986;    display: flex;width: 40%; border-radius: 50px;justify-content: space-around;">
                <p style="color: white;font-family: PoppinsRegular;font-size: 18px;">Already have an account?</p>
                <button style="background-color: #FFB200;border: none;border-radius: 50px;width: 100px;height: 30px;font-family: 'PoppinsRegular';">Login</button>
            </div>



            <div style="margin-top: 2%;">
                <p style="font-family: PoppinsRegular;font-size: 18px;">Your account details</p>
            </div>

            <div class="col-md-12" >
                <input type="text" style="border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;padding: 1%;" placeholder="First Name" >
            </div>
           
            <div class="col-md-2" style="margin-top: 3%;">
                <ng-select style="border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;padding: 5%;"   placeholder="Country"></ng-select>
            </div>

            <div class="col-md-10" style="margin-top: 3%;">
                <input type="number"  style="border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;padding: 1%;" placeholder="Phone Number" >
            </div>

            <div class="col-md-12" style="margin-top: 3%;">
                <input type="password" style="border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;padding: 1%;" placeholder="Password">
            </div>

            <div class="col-md-12" style="margin-top: 3%;">
                <input type="text" style="border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;padding: 1%;" placeholder="Your Position">
            </div>

            <div class="col-md-12" style="margin-top: 3%;">
                <input type="text"  style="border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;padding: 1%;" placeholder="Foundation Name" >
            </div>



            <button style="padding: 1%; margin-top: 3%;border: none;border-radius: 50px;background-color: #FFB200;width: 200px;font-family: 'PoppinsRegular';" (click)="continue()">Continue</button>

        </div>
    </div>


    <app-footer></app-footer>

</div>
