<div style="overflow: hidden;">


    <div class="row" style=" background-image: url(../../assets/images/smilebg.png);background-repeat: no-repeat;    background-size: cover;width: 100%;height: 100vh;">
       
        <app-header></app-header>

        <div class="col-md-8" style="position: relative;">
           <p style="font-size: 50px;color: white; position: absolute;bottom: 0;font-family: PoppinsSemiBold;margin-left: 5%;"> Let's put a smile <br> on someones face. </p>
        </div>
        <div class="col-md-4"></div>
    </div>



    

<p style="font-weight: bold;margin-left: 3%;font-size: 25px;margin-top: 5%;font-family: PoppinsRegular;">Add to your story</p>
<p style="margin-left: 3%;font-family: PoppinsRegular;font-size: 20px;">Helps your fundraiser to your story</p>

<div class="card" style=" margin-top: 5%; margin-left: 10%;margin-right: 10%;padding: 3%;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;margin-bottom: 5%;">

    <input type="text" placeholder="Title"  style="margin-left: 3%; margin-right: 3%;margin-top: 3%;padding: 0.5%;   border-radius: 50px;border-color: #011986;border-top: 0.5px solid #011986;border-bottom: 0.5px solid #011986;border-left: 0.5px solid #011986;border-right: 0.5px solid #011986;">

    <input type="text" placeholder="Story" style="margin-left: 3%; margin-right: 3%;margin-top: 3%; padding: 0.5%; border-radius: 50px;border-color: #011986;border-top: 0.5px solid #011986;border-bottom: 0.5px solid #011986;border-left: 0.5px solid #011986;border-right: 0.5px solid #011986;">

    <input type="text" placeholder="Add youtube link" style="margin-left: 3%; margin-right: 3%;margin-top: 3%; padding: 0.5%; border-radius: 50px;border-color: #011986;border-top: 0.5px solid #011986;border-bottom: 0.5px solid #011986;border-left: 0.5px solid #011986;border-right: 0.5px solid #011986;">

    <ng-select style="margin-left: 3%; margin-right: 3%;margin-top: 3%; border-radius: 50px;padding: 0.5%;border-color: #011986;border-top: 0.5px solid #011986;border-bottom: 0.5px solid #011986;border-left: 0.5px solid #011986;border-right: 0.5px solid #011986;"   placeholder="Select Priority"></ng-select>


  

    <div style="margin-top: 5%;display: flex; justify-content: space-between;">
        <img src="../../assets/images/left-arrow.png" style="width: 50px;height: 50px;margin-left: 3%;">
        <button style="    border: none;
        border-radius: 50px;
        background-color: #FFB200;
        width: 200px;
        padding: 0.5%;
        margin-right: 4%;" (click)="continue()">Continue</button>
    </div>

</div>

<app-footer></app-footer>

</div>




<app-footer></app-footer>