<p style="font-weight: bold;">Add to your story</p>
<p>Helps your fundraiser to your story</p>

<div class="card" style="box-shadow: 18px 22px 47px -38px rgba(29, 113, 184, 0.38); margin: 5%;border: 1px solid red;">

    <input type="text" placeholder="Title"  style="margin: 5%;border-radius: 50px;border-color: #011986;border-top: 0.5px solid #011986;border-bottom: 0.5px solid #011986;border-left: 0.5px solid #011986;border-right: 0.5px solid #011986;">

    <input type="text" placeholder="Add youtube link" style="margin: 5%;border-radius: 50px;border-color: #011986;border-top: 0.5px solid #011986;border-bottom: 0.5px solid #011986;border-left: 0.5px solid #011986;border-right: 0.5px solid #011986;">


    <img src="../../assets/images/left-arrow.png" style="width: 50px;">

    <div style="display: flex;justify-content: end;">
        <button style=" margin-right: 5%;margin-bottom: 5%; border: none;border-radius: 50px;background-color: #FFB200;width: 150px;padding: 0.5%;">Continue</button>
    </div>

</div>