<div style="overflow: hidden;">

    <div style="background-image: url(../../assets/images/contactimage.png);background-repeat: no-repeat;height: 100vh;background-size: cover;">

        <div class="row">

           <app-header></app-header>



    
            <div  class="col-md-12" style="margin-top: 10%;margin-left: 5%;">
                <p style="color: white;font-size: 50px;">Know a <br>bit more about us</p>
                <p style="color: white;font-size: 18px;">Whatever is it that you care about, there will be a charity working on it.</p> 
            </div>
    
        </div>
    
    </div>
    
    
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <p class="about-head">About Goodniyah</p>
            <p style="font-size: 30px;">Why We're the Right <br> Charity for Your Support</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="border: none;">
                <img src="../../assets/images/contact3.png" style="width: 100px;margin: 0 auto;margin-top: 5%;">
                <p style="text-align: center;margin-top: 3%;font-weight: bold;">Expertise and <br>Experience</p>
                <p style="text-align: center;">Lorem ipsum dolor sit amet <br>consectetur. Porttitor diam mauris.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border: none;">
                <img src="../../assets/images/contact1.png" style="width: 100px;margin: 0 auto;margin-top: 5%;">
                <p style="text-align: center;margin-top: 3%;font-weight: bold;">Sustainability <br>and Longevity</p>
                <p style="text-align: center;">Lorem ipsum dolor sit amet <br>consectetur. Porttitor diam mauris.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border: none;">
                <img src="../../assets/images/contact2.png" style="width: 100px;margin: 0 auto;margin-top: 5%;">
                <p style="text-align: center;margin-top: 3%;font-weight: bold;">Sustainability<br> and Longevity</p>
                <p style="text-align: center;">Lorem ipsum dolor sit amet <br>consectetur. Porttitor diam mauris.</p>
            </div>
        </div>
    
    
    
    
        <div class="col-md-4">
            <div class="card" style="border: none;">
                <img src="../../assets/images/contact4.png" style="width: 100px;margin: 0 auto;margin-top: 5%;">
                <p style="text-align: center;margin-top: 3%;font-weight: bold;">Transparency and <br>Accountability</p>
                <p style="text-align: center;">Lorem ipsum dolor sit amet <br>consectetur. Porttitor diam mauris.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border: none;">
                <img src="../../assets/images/contact5.png" style="width: 100px;margin: 0 auto;margin-top: 5%;">
                <p style="text-align: center;margin-top: 3%;font-weight: bold;">Efficient Resource <br> Allocation</p>
                <p style="text-align: center;">Lorem ipsum dolor sit amet <br>consectetur. Porttitor diam mauris.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="border: none;">
                <img src="../../assets/images/contact6.png" style="width: 100px;margin: 0 auto;margin-top: 5%;">
                <p style="text-align: center;margin-top: 3%;font-weight: bold;">Efficient Resource <br> Allocation</p>
                <p style="text-align: center;">Lorem ipsum dolor sit amet <br>consectetur. Porttitor diam mauris.</p>
            </div>
        </div>
    
    
    
    </div>
    
    
    <div class="row" style="margin: 5%;background-color: #EDF5FC;border-radius: 10px;">
        <div class="col-md-5" style="display: flex;flex-direction: column;padding: 20px;">
            <p style="color: #011986;font-size: 20px;">Wish to talk?</p>
            <p>If you have any question, just fill in the contact <br> form and we will answer you shortly.</p>
    
            <input type="text" placeholder="Your name" style="margin-top: 5%;border-radius: 50px;padding: 1%; border-color: #011986;border: 1px solid blue;
            border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">
            <input type="email" placeholder="Your email" style="margin-top: 5%;padding: 1%;border-radius: 50px;border: 1px solid blue;
            border-left-color: blue; border-right-color: blue; border-top-color: blue; border-bottom-color: blue;">
            <input type="number" placeholder="Your number" style="margin-top: 5%;padding: 1%;border-radius: 50px;border: 1px solid blue;
            border-left-color: blue; border-right-color: blue;border-top-color: blue;border-bottom-color: blue;">
            <textarea placeholder="Your message" style="margin-top: 5%;border-radius: 10px;border: 1px solid blue;
            border-left-color: blue;border-right-color: blue;border-top-color: blue;border-bottom-color: blue;"></textarea>
    
    
            <div style="display: flex;justify-content: end;">
                <button style="margin-top: 3%; border: none;border-radius: 50px;background-color: #FFB200;width: 150px;padding: 5px;">Submit</button>
            </div>
    
        </div>
        <div class="col-md-7" >
            
            <div style="margin-top: 5%;">
                <a href="mailto:info.goodniyah@gmail.com">info.goodniyah@gmail.com</a>
            </div>
            
    
            <div style="margin-top: 40px;">
                <p>01919455125 Bangladesh</p>
                <p>07712220802 United Kingdom</p>
            </div>
    
            <div class="row">
                
                <div class="col">
                    <div class="card" style="border: none;border-radius: 10px;">
                        <img src="../../assets/images/bangladesh_flag.png" style="    width: 100px;margin: 0 auto;margin-top: 10%;">
                        <p style="text-align: center;margin-top: 2%;">Bangladesh office</p>
                        <p style="text-align: center;">Zini Zoom, 12/6 Bank Town<br>Savar, Dhaka- 1340</p>
                    </div>
                </div>
    
                <div class="col">
                    <div class="card" style="border: none;border-radius: 10px;">
                        <img src="../../assets/images/europe_flag.png" style="height: 60px; width: 100px;margin: 0 auto;margin-top: 10%;">
                        <p style="text-align: center;margin-top: 2%;">UK Office</p>
                        <p style="text-align: center;">90 Glasgow road, perth<br>PH2 0LT, UK</p>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    
    
    <div style="padding-left: 5%;padding-right: 5%;">
        <p>At Goodniyah, we believe that small acts of kindness can create ripples of hope and transformation in the lives of those who need it most. Our charity organization is dedicated to making a positive impact on the world, one heartfelt gesture at a time.</p>
    
        <p>Our mission is simple yet powerful: to bring comfort, support, and opportunities to individuals facing a variety of challenges and difficulties. We extend our helping hand to those who have been separated from their dreams, hopes, and opportunities, just as the rising sun parts the darkness of night.
            With your support, </p>
    
            <ol>
                <li>Relief in Times of Crisis: Goodniyah is there in the aftermath of natural disasters and other crises, offering emergency relief, shelter, and aid to those affected.</li><br>
                <li>Education for All: We believe in the transformative power of education and strive to ensure that every child has the chance to access quality schooling, regardless of their circumstances.</li><br>
                <li>Support for the Elderly: We care for our senior citizens, offering companionship, healthcare, and assistance to improve their quality of life.</li><br>
                <li>Empowerment of the Underprivileged: Our organization works to uplift the marginalized, offering vocational training, microloans, and opportunities for a brighter future.</li><br>
                <li>Healthcare Initiatives: We fundraise to support medical treatments, surgeries, and access to healthcare for those in need.</li><br>
                <li>Community Development: Goodniyah also focuses on strengthening communities through infrastructure projects, clean water initiatives, and more.</li>
            </ol>
    
    
            <p>Join us in making a difference. Your support helps us continue our mission of spreading goodniyah (goodness) throughout the world. Together, we can rewrite the narratives of countless lives, bringing smiles, hope, and the promise of a better tomorrow.</p>
    
            <p>Give your kindness a purpose by contributing to our fundraising efforts. Together, we can change the world—one act of kindness, one life at a time. Join us on our journey to make the world a better place.</p>
    </div>
    
    
    <div class="row" style="padding-left: 5%;padding-right: 5%;padding-top: 3%;">
        <div class="col">
            <p style="color: #011986;font-size: 20px;">Our vission</p>
            <p style="text-align: justify;">At Goodniyah, our mission is to be the beacon of hope and compassion in a world often overshadowed by adversity. We believe in the transformative power of kindness, and our organization is dedicated to illuminating lives, nurturing dreams, and leaving a positive mark on the lives of those in need.</p>
        </div>
        <div class="col">
            <p style="color: #011986;font-size: 20px;">Our mission</p>
            <p style="text-align: justify;">Our vision is to create a world where every individual, regardless of their background, has the opportunity to thrive, dream, and fulfill their potential. We envision a world where acts of kindness are the driving force behind positive change, and where the ripple effect of our actions reaches every corner of the globe.</p>
        </div>
    </div>

</div>
<app-footer></app-footer>