<div style="overflow: hidden;">

  <div class="row">
    <img src="../../assets/images/logo.png" style="width: 200px;margin-left: 5%;margin-right: 5%;margin-top: 1%;">
</div>

<div class="row align-items-center" >
    <div class="col-md-6">
        <img src="../../assets/images/login-and-signup.png" style="width: 800px;height: 500px;">
    </div>
    <div class="col-md-6 card-inverse" style="background-image: url(../../assets/images/vector2.png);background-repeat: no-repeat;">
        <div class="card" style="box-shadow: 18px 22px 47px -38px rgba(29, 113, 184, 0.38),
        -1px -1px 47px -15px rgba(29, 113, 184, 0.27);border-radius: 20px;border: none; background-image: url(../../assets/images/vector1.png);background-repeat: no-repeat;background-position: -5px 300px;z-index: 999999;background-size: 100px 100px;               width: 25rem;margin: 0 auto;margin-top: 7%;margin-bottom: 7%; height: 400px;">
            <div class="card-body">
              <h5 class="card-title">Login to GoodNiyah</h5>
              <input type="text" placeholder="User name" style="margin-top: 7%; border-radius: 50px;border: 1px solid #011986;width: 100%;height: 40px;">
              <input type="text" placeholder="Password" style="margin-top: 5%; border-radius: 50px;border: 1px solid #011986;width: 100%;height: 40px;">
              <br><br>
              <button style="float: right; background: #ffb200;
              border-radius: 40px;border: none;width: 50%;padding: 10px;
              position: relative;box-shadow: 2px 4px 7px -1px rgba(1, 25, 134, 1);">Login</button>

              <div style="margin-top: 20%;text-align: center;">
                <p>Dont have an account?, <a>Sign Up <span style="text-decoration: underline;">here</span></a></p>
              </div>


            </div>
          </div>
    </div>
</div>



</div>
<app-footer></app-footer>