<div style="overflow: hidden;">

    <div class="row" style="overflow: hidden; background-image: url(../../assets/images/smilebg.png);background-repeat: no-repeat; background-size: cover;width: 100%;height: 100vh;"> 
        
        <app-header></app-header>
        
          
        <div class="col-md-8" style="position: relative;">
           <p style="font-size: 50px;color: white; position: absolute;
           bottom: 0;font-family: PoppinsSemiBold;margin-left: 5%;"> Let's put a smile <br> on someones face. </p>
        </div>
        <div class="col-md-4"></div>   
    </div>

    <p style="font-family: PoppinsRegular;font-weight: bold;font-size: 25px;margin-left: 5%;margin-top: 2%;">Edit Profile</p>


    <div class="card" style=" margin-top: 3%; margin-left: 5%;margin-right: 5%;padding: 5%;margin-bottom: 5%;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;border: none;">

        <div class="col-md-12" >
            <input type="text"  style= " padding: 1%; border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;" placeholder="Name">
        </div>

        <div class="col-md-12" style="margin-top: 3%;">
            <input type="text"  style="  padding: 1%; border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;" placeholder="Address">
        </div>

        <div class="col-md-12" style="margin-top: 3%;">
            <input type="number"  style=" padding: 1%;border-radius: 100px;width: 100%;height: 40px;border: 1px solid #011986;" placeholder="Phone Number">
        </div>

        <div class="col-md-12" style="margin-top: 3%;">
            <ng-select style=" border-radius: 50px; padding: 0.5%;border-color: #011986;border-top: 0.5px solid #011986;border-bottom: 0.5px solid #011986;border-left: 0.5px solid #011986;border-right: 0.5px solid #011986;"   placeholder="Select Priority"></ng-select>
        </div>

        <div style="margin-top: 5%;display: flex;justify-content: end;">
            <button style="padding: 1%; border: none;border-radius: 50px;background-color: #FFB200;width: 200px;">Update</button>
        </div>

    </div>


 

    <app-footer></app-footer>

</div>