input[type="text"]::placeholder{
    color: black;
}


.bankname,.acno,.branch,.ifsc
{
    border-radius: 50px;
    border: 0.5px solid #011986;
    width: 100%;
    padding: 2%;
}

.holdername,.acno{
    border-radius: 50px;
    border: 0.5px solid #011986;
    width: 100%;
    padding: 1%;
}

@media only screen and (max-width: 600px) {

    .acno,  .branch,.ifsc{
        margin-top: 5%;
        padding: 2%;
    }
    
    .holdername
    {
        margin-top: 3%;
        padding: 2%;
    }

}
