<div style="overflow: hidden;">

    <app-header></app-header>


    <div class="row">
        <div class="col-md-8">

            <div style="border: none;border-radius: 50px;background-color: #063F83;display: flex;justify-content: space-between;padding: 1%;">

                <p style="color: white;font-family: PoppinsRegular;">Your recent fundraisers</p>

                <button style="border: none;background-color: #FFB200;border-radius: 50px;" (click)="addstory()">Start another fundraiser &nbsp; &nbsp;  <img src="../../assets/images/greaterarrow2.png"> </button>

            </div>




            <div style="margin-left: 5%;margin-top: 5%;">
                <div class="card" style="background-color: #FFC700;width: 210px;border: none;border-radius: 10px;">
                    <img src="../../assets/images/storyimage.png" style="width: 200px;">
                </div>
            </div>

        </div>
        <div class="col-md-4" style="border: 1px solid red;">

            <div class="card" style="box-shadow: 18px 22px 47px -38px rgba(29, 113, 184, 0.38),
            -1px -1px 47px -15px rgba(29, 113, 184, 0.27);border-radius: 20px;border: none; background-image: url(../../assets/images/vector1.png);background-repeat: no-repeat;background-position: -5px 400px;z-index: 999999;background-size: 100px 100px;            margin: 0 auto;margin-top: 7%;margin-bottom: 7%; height: 500px;">

                <img src="../../assets/images/orgimage.png" style="width: 200px;margin: 0 auto;">


                <img src="../../assets/images/editpen.png" style="width: 30px;"  (click)="editorg()">

              <span style="display: flex;justify-content: center;">
                <p>Algo</p>
                <img src="../../assets/images/verified.png" style="width: 20px;height: 20px;" >
              </span>


              <div style="border-radius: 50px;border: 1px solid #011986;margin-left: 5%;margin-right: 5%;">
                <p style="text-align: center;"> syam</p>
              </div>

              <div style="margin-top: 2%; display: flex;">
                <div class="col">
                    <img src="../../assets/images/date.png"> 26/08/2023
                </div>
                <div class="col">
                    <img src="../../assets/images/clock_.png"> 22349000
                </div>
              </div>

            </div>


        </div>
    </div>

    <app-footer></app-footer>
</div>
