<div style="overflow: hidden;">

    <app-header></app-header>

    <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
        <div class="col-md-6" >
          <button  (click)="donorreg()" style="font-family: PoppinsRegular;color: #011365;border: 1px solid #011365;padding: 1%;width: 200px;border-radius: 50px;background-color: transparent;float: right;font-size: 20px;"  >Donate</button>
        </div>
        <div class="col-md-6">
          <button (click)="regsub()" style="font-family: PoppinsRegular;color: #011365;border: 1px solid #011365;padding: 1%;width: 200px;border-radius: 50px;background-color: transparent;font-size: 20px;" >Raise fund</button>
        </div>
      </div>

      <app-footer></app-footer>
    
</div>