<div style="overflow: hidden;">
    <div class="row" style="background-image: url(../../assets/images/innerpage.png);border: 1px solid red;">

        <div class="col-md-6">
            <img src="../../assets/images/logo.png" style="width: 150px;">
        </div>
        <div class="col-md-6"></div>



        <div class="col-md-6">
            <p style="color: #011986;">Happening<br>near you</p>
            <p>Fundraisers  happening through community</p>
            <button style="border: none;border-radius: 50px;width: 30%;background-color: #FFB200;padding: 1%;box-shadow: 0px 4px 0px #011986">Discover</button>
        </div>
        <div class="col-md-6"></div>




        
    </div>
</div>



<div class="row">

    <div class="col-md-4"  style="border :1px solid red;">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 80%;height: 400px;margin: 0 auto;margin-bottom: 5%;margin-left: -5%;padding: 0px !important;margin-top: 10%;border-radius: 10px;">
            <img  src="../../assets/images/serachpageimg.png" style="padding: 2%;" >
            <div class="card-body">
             
                <p style="text-align: center;">Bring together people who <br>
                care about a cause</p>
                <button style="background-color: #FFB200;border: none;border-radius: 50px;padding: 2%;display: flex; margin: 0 auto;width: 50%;" (click)="readmore()">Read More</button>
               
            </div>
          </div>
    </div>

    <div class="col-md-4" style="border: 1px solid yellow;">
            <div class="card" style="border :1px solid red; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 80%;height: 400px;margin: 0 auto;margin-bottom: 5%;margin-left: -5%;padding: 0px !important;margin-top: 10%;border-radius: 10px;">
                <img  src="../../assets/images/serachpageimg.png" style="padding: 2%;" >
                <div class="card-body">
                 
                    <p style="text-align: center;">Bring together people who <br>
                    care about a cause</p>
                    <button style="background-color: #FFB200;border: none;border-radius: 50px;padding: 2%;display: flex; margin: 0 auto;width: 50%;" >Read More</button>
                   
              </div>
        </div>
    </div>

    <div class="col-md-4">
            <div class="card" style="border :1px solid red; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 80%;height: 400px;margin: 0 auto;margin-bottom: 5%;margin-left: -5%;padding: 0px !important;margin-top: 10%;border-radius: 10px;">
                <img  src="../../assets/images/serachpageimg.png" style="padding: 2%;" >
                <div class="card-body">
                 
                    <p style="text-align: center;">Bring together people who <br>
                    care about a cause</p>
                    <button style="background-color: #FFB200;border: none;border-radius: 50px;padding: 2%;display: flex; margin: 0 auto;width: 50%;">Read More</button>
                   
                </div>
        </div>
    </div>
    
</div>